@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    background: #fff;
    padding: 20px;
}

.container .progress-container {
    flex: 20%;
    padding: 30px;
}

.container .form-container {
    flex: 50%;
    padding: 30px;
}

.container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.container .form-outer {
    width: 100%;
    padding: 30px;
    overflow: hidden;
}

.container .form-outer form {
    display: flex;
    width: 400%;
}
.page h4{
    font-size: 20px;
    line-height: 31px;
    font-weight: 600;
}
.form-outer form .page {
    width: 100%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field {
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}

form .page .field input {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
}

.checkbox-item{
    margin-bottom: 5px;
    width: 40%;
    height: 65px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    box-shadow: 1px 1px 15px rgba(207, 207, 207, 0.2);
}
.checkbox-item input[type="radio"]{
    width: 20px;
    height: 20px;
}
.checkbox-item label{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #757575;
}

.checkbox-item input:checked + label {
    color: #496AC0;
}

form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: linear-gradient(93.66deg, #2B0BBC -136.27%, #00F4D8 247.48%);
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .field button:hover {
    background: #000;
}

form .page .btns button {
    margin-top: -20px !important;
}

form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button.next {
    margin-left: 3px;
}

.container .progress-bar {
    margin: 40px 0;
    user-select: none;
}

.container .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
    padding: 20px;
}

.container .progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: #959595;
    margin-bottom: 8px;
}

.progress-bar .step .bullet {
    height: 31px;
    width: 31px;
    border: 3.72px solid #C5C5C5;
    color:#959595;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 40px;
    box-sizing: border-box;
}

.progress-bar .step .bullet.active {
    border-color: #496AC0;
    background: #496AC0;
}


.progress-bar .step .bullet.active span {
    display: none;
}

.progress-bar .step .check .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: -40px;
    top: 28px;
    right: 10px;
    height: 43px;
    width: 3px;
    background: #C5C5C5;
}

.progress-bar .step .bullet.active:after {
    background: #496AC0;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step p.active {
    color: #496AC0;
    transition: 0.2s linear;
}

.progress-bar .step p.active {
    color: #496AC0;
    transition: 0.2s linear;
}
